body {
	font-family: 'Lato', sans-serif;
}


.res-header {
	display:flex;
	flex-direction: row;
	align-items: center;
}

.res-section-title {
	flex: 1 1 auto;
	margin-bottom:0px;
	font-size:17pt;
}

.res-plus {
	width:25px;
	text-align:center;
	margin-bottom:0px;
}

p.resume-date {
	margin-right:20px;
	margin-left:15px;
	margin-bottom:0px;
}

.mainContent {
	margin-left:auto;
	margin-right:auto;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:20px;
}

.unexpSec {
	font-size:20pt;
	font-weight:bold;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
}

.expand {
	-webkit-animation-name: expandAnim;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

.unexpSec p {
	display:inline;
}

.section {
	display:block;
	padding-right:20px;
	padding-bottom:10px;
	margin-bottom:0px;
	font-weight:normal;
	font-size:12pt;
}

.section * {
	margin-top:0px;
}

.timeSection {
	background-color:#000000;
}

h1 {
	text-align:center;
}

h2 {
	font-size:13pt;
}

h3 {
	font-size:12pt;
}

li {
	font-size:11pt;
}

p {
	font-size:11pt;
}

.mark {
	text-align:right;
	float:right;
}

td.field {
	font-weight:bold;
}

table.pair tr td {
	padding-right:15px;
}

div.print {
	
	position:fixed;
	float:right;
}


@-webkit-keyframes expandAnim {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

