<header class="site-nav">
  <a class="site-nav__brand" href="/">
    <img class="site-nav__logo" src="/assets/logo.svg" width="28" height="28" alt="" decoding="async">
  </a>
  <nav aria-label="Site">
    <ul class="site-nav__links">
      <li><a href="/about.html">About</a></li>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/news.html">News</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="https://blog.skorulis.com/">Blog</a></li>
    </ul>
  </nav>
</header>
